@model IList<InventorySystem.Models.PO>
@{
    ViewBag.Title = "PurchaseOrderList";
    Layout = null;
    int counter = 0;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .heading {
            text-align: center;
            color: black;
        }

        tr th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>


    @*<div class="heading">
            <h1>Customer List</h1>
        </div>*@

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">PO Number</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Supplier Id</th>
                <th scope="col">Status</th>
                <th scope="col">Delivery Address</th>
                <th scope="col">Discount</th>
                <th scope="col">Term of paymnet</th>
                <th scope="col">Refernce</th>
                <th scope="col">Street</th>
                <th scope="col">Address</th>
                <th scope="col">Suburb</th>
                <th scope="col">City</th> 
                <th scope="col">PostalCode</th>
                <th scope="col">Country</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                {
                    counter++;
                }

                <tr>
                    <td>@counter</td>
                    <td>@item.PONumber</td>
                    <td>@item.DeliveryDate</td>
                    <td>@item.SupplierId</td>
                    <td>@item.Status</td>
                    <td>@item.DeliveryAddress</td>
                    <td>@item.Discount</td>
                    <td>@item.TermsOfPayment</td>
                    <td>@item.RefNumber</td>
                    <td>@item.Street</td>
                    <td>@item.Address</td>
                    <td>@item.State</td>
                    <td>@item.City</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Country</td>
                    <td>@item.Date</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

