@model IList<InventorySystem.Dtos.StockDtos>
@{
    ViewBag.Title = "Supplier";
    Layout = null;
    int counter = 0
        ;
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .heading {
            text-align: center;
            color: black;
        }

        tr th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>


    @*<div class="heading">
        <h1>Stock List</h1>
    </div>*@

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Location</th>
                <th scope="col">Warehouse Name</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity Receving</th>
                <th scope="col">Quantity Hand</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                {
                    counter++;
                }

                <tr>
                    <td>@counter</td>
                    <td>@item.Location</td>
                    <td>@item.WarehouseName</td>
                    <td>@item.ProductName</td>
                    <td>@item.QuantityReceiving</td>
                    <td>@item.QuantityOnHand</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>





